
.hj-home {
  display: flex;
  height: 100%;
  flex-direction: column;
  .hj-index {
    flex: 1;
    .slide {
      position: relative;
    }
    .home-hero-sub {
      margin-top: 14px;
      color: #333;
      overflow: hidden;
      .span4 {
        width: 234px;
        float: left;
        height: 170px;
      }
      .span16 {
        width: 978px;
        float: left;
        margin-left: 14px;
        min-height: 1px;
        height: 170px;
      }
    }
  }
}
.home-main {
  background: #f5f5f5;
  padding-top: 22px;
  .conpainer {
    .home-banner-box {
      margin: 28px 0 22px;
      height: 120px;
      overflow: hidden;
      a {
        img {
          width: 100%;
        }
      }
    }
  }
}
